DJANGO_SECRET_KEY=''
DEBUG_MODE=0

POSTGRES_HOST=...
POSTGRES_DB=sign_language_db
POSTGRES_USER=...
POSTGRES_PASSWORD=...

# TODO: Create superuser on first run.
DJANGO_SUPERUSER_EMAIL=...
DJANGO_SUPERUSER_USERNAME=...
DJANGO_SUPERUSER_PASSWORD=...

# Settings
BACKGROUND_TRAINING_TIME=60