<!DOCTYPE html>
<html lang="en">
{% load sass_tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A==" crossorigin="anonymous" referrerpolicy="no-referrer" />#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js" integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>#}

    {% load static %}
    <link href="{% sass_src 'sign_language_app/app.sass' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'sign_language_app/style.css' %}">

    <title>{% block title %}{% endblock title %}</title>
</head>

<body class="body">
{##}
{#<nav class="navbar navbar-expand-lg">#}
{#    <div class="navbar-brand">#}
{#        <a class="navbar-item " href="{% url 'index' %}">#}
{#            <p class="title is-3 thin pt-1 is-primary-text-color">Home</p>#}
{#        </a>#}
{##}
{#        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">#}
{#            <span aria-hidden="true"></span>#}
{#            <span aria-hidden="true"></span>#}
{#            <span aria-hidden="true"></span>#}
{#        </a>#}
{#    </div>#}
{##}
{#    <div id="navbarBasicExample" class="navbar-menu">#}
{#        <div class="navbar-start">#}
{##}
{#            <a class="navbar-item" href="">#}
{#                Systems#}
{#            </a>#}
{##}
{#            <a class="navbar-item" href="">#}
{#                Stations#}
{#            </a>#}
{##}
{#            <a class="navbar-item" href="">#}
{#                Commodities#}
{#            </a>#}
{##}
{#            <a class="navbar-item" href="#">#}
{#                Trade Routes#}
{#            </a>#}
{#            <a class="navbar-item" href="">#}
{#                Carrier Missions#}
{#            </a>#}
{##}
{##}
{#        </div>#}
{#        <div class="navbar-end">#}
{#            {% if DEBUG_MODE %}#}
{#                <div class="navbar-item has-dropdown is-hoverable">#}
{#                    <a class="navbar-link">#}
{#                        Debug#}
{#                    </a>#}
{##}
{#                    <div class="navbar-dropdown">#}
{#                        <a class="navbar-item" id="reloadDataButton">#}
{#                            Reload Data#}
{#                        </a>#}
{##}
{#                        <a class="navbar-item" id="updateLocalButton">#}
{#                            Update Local (All)#}
{#                        </a>#}
{#                        <a class="navbar-item" id="updateLocalNoStationsButton">#}
{#                            Update Local (Quick)#}
{#                        </a>#}
{##}
{#                        <a class="navbar-item" id="updateLocalListingsButton">#}
{#                            Update Local (Listings)#}
{#                        </a>#}
{#                        <a class="navbar-item" id="updateLocalCacheButton">#}
{#                            Update Cache#}
{#                        </a>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            {% endif %}#}
{#            <div class="navbar-item">#}
{#                <div class="buttons">#}
{#                    {% if current_user %}#}
{#                        <a class="button is-primary" href="">#}
{#                            <strong>Profile</strong>#}
{#                        </a>#}
{#                        <a class="button is-light" href="">#}
{#                            Log Out#}
{#                        </a>#}
{#                    {% else %}#}
{#                        <a class="button is-primary" href="">#}
{#                            <strong>Sign up</strong>#}
{#                        </a>#}
{#                        <a class="button is-light" href="">#}
{#                            Log in#}
{#                        </a>#}
{#                    {% endif %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}
{##}
{#<div class="page-wrapper">#}
{#    <div class="container" style="width:100%">#}
{#        {% block content %}#}
{#        {% endblock %}#}
{#    </div>#}
{##}
{#    <footer class="footer column is-narrow mt-6">#}
{#        <div class="content has-text-centered">#}
{#            <p>#}
{#                <strong> <a href="https://www.elitedangerous.com/">Elite: Dangerous</a></strong> game tools by <strong><a href="https://github.com/ArthurVanRemoortel">Arthur Van Remoortel <i class="fa-brands fa-github"></i></a></strong>#}
{#                <span>#}
{#                The source-code is available on <a href="https://github.com/ArthurVanRemoortel/EDSiteProject"> GitHub <i class="fa-brands fa-github"></i></a>#}
{#            </span>#}
{#            </p>#}
{#        </div>#}
{#    </footer>#}
{#</div>#}

{% block content %}
{% endblock %}

<script>
</script>

{% block javascript %}
{% endblock javascript %}
</body>
</html>