@charset "utf-8"

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700')

// Set your brand colors
$darkest: #222831
$grey: #393E46
$orange: #D65A31
//$light-orange: #FF7844
$light-orange: #FF7844
$almost-white: #EEEEEE
$text-color: $almost-white

$light-grey: #b39999
$almost-black: #191c21
$darkest-purple: #251D3A
$dark-blue: #1B1F3A
$dark-purple: #53354A
$dark-orange: #A64942




$family-sans-serif: "Nunito", sans-serif
//$grey-dark: $brown
//$grey-light: $beige-light


$primary: $light-orange
$light: $almost-white
$link: $light-orange
$link-hover: $dark-orange
$dark: $grey
$border-light: $light-orange
$border-dark: $light-orange
$border-hover: $light-orange

//$widescreen-enabled: false
//$fullhd-enabled: false

// Update some of Bulma's component variables
$body-background-color: $dark

$navbar-background-color: $darkest
$navbar-item-color: $almost-white
$navbar-divider-background-color: $light-orange

$dropdown-color: $dark
$color: $orange
$text-strong: $almost-white
$subtitle-color: $light-orange
$info: $light-orange
$border: $dark
$border: $dark

$navbar-dropdown-item-hover-color: $light-orange
$navbar-dropdown-background-color: $darkest


$navbar-dropdown-item-hover-background-color: $almost-black
$navbar-item-hover-background-color: $navbar-background-color
$navbar-dropdown-border-top: 2px solid $light-orange

$table-background-color: transparent
$table-cell-border: 1px none $orange
$table-row-hover-background-color: $darkest

$panel-shadow: 0 0.5em 1em -0.125em rgba(hsl(100%, 0%, 4%), 0.5), 0 0px 0 1px rgba(hsl(100%, 0%, 4%), 0.02)

$input-color: $primary
$input-background-color: $dark
$input-border-color: $primary

$tabs-link-active-color: $dark
$tabs-boxed-link-radius: 8px



$tabs-box:  $primary
$tabs-border-bottom-color: $darkest
$tabs-boxed-link-active-background-color: $dark
$tabs-boxed-link-active-border-color: $darkest
$tabs-link-active-color: $light-orange

$tabs-boxed-link-hover-background-color: $darkest
$tabs-link-hover-color: $dark-orange
$tabs-boxed-link-hover-border-bottom-color: $darkest



$tabs-toggle-link-border-color: $primary
$tabs-toggle-link-hover-background-color: $primary


$modal-card-body-background-color: $darkest
$modal-card-head-background-color: $primary
$modal-card-title-color: $dark
$modal-card-head-padding: 15px
//$modal-card-head-border-bottom

$input-disabled-background-color: $darkest
$input-disabled-border-color: $dark-orange
$input-disabled-color: $dark-orange

$input-icon-color: $primary
$input-icon-active-color: $primary

$footer-padding: 3rem 1.5rem 2.5rem

/*! bulma.io v0.9.4 | MIT License | github.com/jgthms/bulma */
@import "sass/utilities/_all"
@import "sass/base/_all"
@import "sass/elements/_all"
@import "sass/form/_all"
@import "sass/components/_all"
@import "sass/grid/_all"
@import "sass/helpers/_all"
@import "sass/layout/_all"

.carrier_missions_tabs a
  color: $primary
  &:hover
    color: $grey

.carrier_missions_tabs
  &.is-toggle
    li
      &.is-active
        a
          color: $dark


.panel
  background-color: $darkest

.box
  background-color: $darkest
  color: $almost-white

.invisible-box
  background-color: transparent
  box-shadow: none

.is-white
  color: $almost-white


.is-primary-text-color
  color: $primary !important

.is-green-text-color
  color: $green !important

.is-red-text-color
  color: $red !important

.is-red-muted-color
  color: $primary-dark !important


.footer
  background-color: $darkest
  color: $text-color

.unit
  color: $light-orange

.column-fixed-10
  width: 10em
  flex-basis: auto
  flex-grow: 0

.column-fixed-20
  width: 20em
  flex-basis: auto
  flex-grow: 0

//.select
//  width: 100%
//
//select
//  width: 100%

.carrier_order_row
  th
    padding-left: 0 !important
    width: 48%

.carrier-mission-location
  figure
    margin-left: 0
    margin-right: 1em

.page-wrapper
  display: flex
  min-height: 100vh
  flex-direction: column

.commodity_th
  width: 30%


// ------------------------------------------------------------------------------------------------------------


.select2-container
  .select2-selection
    background-color: #343A40 !important
    transition: border-color $speed
    height: 2.285em
    line-height: 1.5
    font-size: 1rem
    outline: none !important
    display: inline-flex
    align-items: center
    width: 100%
    border-color: $primary
    border-radius: $radius
    &:hover
      border-color: $border-hover

    .select2-selection__rendered
      padding-left: 0.75em
      padding-right: 0.75em
      color: $primary

    .select2-selection__arrow
      display: none

    .select2-selection__placeholder
      color: $text-color

    .select2-selection__clear
      margin-right: 0
      padding-left: 10px
      span
        color: $primary

  &.select2-container--open
    .select2-selection
      border-color: $primary
      &:hover
        border-color: $primary


.select2-container
  .select2-dropdown
    border-color: $primary
    background-color: $darkest
    .select2-search
      margin: 10px
      background-color: $darkest
      .select2-search__field
        @extend .input
        border-radius: $radius !important



    .select2-results__options
      max-height: 210px
      background: $darkest
      color: $text-color
      box-shadow: $panel-shadow
      .select2-results__option
        padding: 0.75em
        font-family: $family-sans-serif
        font-size: 1rem

        &.select2-results__option--highlighted
          background: $primary

    .select2-results__option--selected
      color: $text-color
      background-color: $primary-dark

.tippy-box
  background-color: $darkest
  color: $text-color

.tippy-arrow
  color: $darkest

.tippy_link
  background-color: transparent
  background-repeat: no-repeat, no-repeat
  background-size: cover
  background-position: center
  border-color: transparent
  &:hover
    border-color: transparent

