{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/css-loader/3.3.3/css-loader.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    {% load static %}
    {% load extras %}

    <link href="{% sass_src 'sign_language_app/bulma.sass' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'sign_language_app/style.css' %}">
    <script src="{% static 'sign_language_app/script.js' %}"></script>

    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
<nav class="navbar navbar-expand-lg mb-5">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'index' %}">
            <img src="{% static 'sign_language_app/images/logo_blank.png'%}" alt="" width="50" height="38">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'courses_overview' %}">
                Courses
            </a>
            <a class="navbar-item" href="{% url 'unit' unit_id=1 %}">
                (DEV) Exercise 1
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">

            </div>
            <div class="navbar-item">
                <div class="buttons">
                    {% if user.is_authenticated %}
                        {% if user|check_teacher_or_admin %}
                            <a class="button is-warning" href="{% url 'classroom' %}">
                                <strong>Classroom</strong>
                            </a>
                        {% endif %}
                        <a class="button is-primary" href="{% url 'profile' %}">
                            <strong>Profile</strong>
                        </a>
                        <a class="button is-light" href="{% url 'logout' %}">
                            Log Out
                        </a>
                    {% else %}
                        <a class="button is-link" href="{% url 'login' %}">
                            Log In
                        </a>
                        <a class="button is-light" href="{% url 'register' %}">
                            Sign Up
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="page-wrapper">

    <div class="container" style="width:100%">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <article class="message is-small
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}is-danger
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}is-success
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING%}is-warning
                    {% else %}is-info
                    {% endif %}">
                        <div class="message-header">
                            <p>
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}Error
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}Success
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING%}Warning
                                {% else %}Info
                                {% endif %}
                            </p>
                            <button class="delete is-small" aria-label="delete"></button>
                        </div>
                        <div class="message-body">
                            {{ message }}
                        </div>
                    </article>
                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>

    <footer class="footer column is-narrow mt-6">
        <div class="content has-text-centered">
            <p>
                A sign language learning tool developed by <strong><a href="https://github.com/ArthurVanRemoortel">Arthur Van Remoortel <i class="fa-brands fa-github"></i></a></strong>
                <span>
                The source-code is available on <a href="https://github.com/ArthurVanRemoortel/Sign-Language-Learning-Tool"> GitHub <i class="fa-brands fa-github"></i></a>.
            </span>
            </p>
        </div>
    </footer>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.message .delete') || []).forEach(($delete) => {
            const $message = $delete.parentNode.parentNode;

            $delete.addEventListener('click', () => {
                $message.parentNode.removeChild($message);
            });
        });
    });
</script>

{% block javascript %}
{% endblock javascript %}

</body>
</html>