{% extends 'sign_language_app/base.html'%}
{% load extras %}
{% block title %}
    Courses
{% endblock %}

{% block content %}
    <div class="container is-max-desktop">
        <h2 class="title is-2 is-spaced bd-anchor-title">
            Courses
        </h2>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-four-fifths">
                <form action="{% url 'courses_overview' %}" method="post">
                    {% csrf_token %}
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <label for="searchInput"></label>
                            {{ search_form.search_input }}
                        </div>
                        <div class="control">
                            <button class="button is-info">Search</button>
                        </div>
                    </div>
                </form>

                <br>

                <nav class="pagination is-rounded is-centered" role="navigation" aria-label="pagination">
                    <ul class="pagination-list">
                        {% if courses.has_previous %}
                            <li><a class="pagination-link button is-info is-small" href="?page={{ courses.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li><span class="pagination-link button is-info is-small">&laquo;</span></li>
                        {% endif%}

                        {% for i in courses_paginator %}
                            {% if courses.number == i %}
                                <li><a class="pagination-link is-current" href="?page={{ i }}">{{ i }} </a>
                            {% else %}
                                {% if i == courses.paginator.ELLIPSIS %}
                                    ...
                                {% else %}
                                    <li><a class="pagination-link" href="?page={{ i }}">{{ i }} </a>  </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {% if courses.has_next %}
                            <li> <a class="pagination-link button is-info is-small" href="?page={{ courses.next_page_number }}">&raquo;</a> </li>
                        {% else %}
                            <li><span class="pagination-link button is-info is-small">&raquo;</span></li>
                        {% endif%}

                        {#                        {% if courses_paginator.has_previous %}#}
                        {#                            <a href="?page=1">&laquo; first</a>#}
                        {#                            <a href="?page={{ courses_paginator.previous_page_number }}">previous</a>#}
                        {#                        {% endif %}#}
                        {##}
                        {#                    #}
                        {#                        <li><a class="pagination-link is-current" aria-label="Goto page 1">1</a></li>#}
                        {#                        <li><a class="pagination-link" aria-label="Page 2" aria-current="page">2</a></li>#}
                        {#                        <li><span class="pagination-ellipsis">&hellip;</span></li>#}
                        {#                        <li><a class="pagination-link" aria-label="Goto page 12">12</a></li>#}
                    </ul>
                </nav>

                {% for course in courses %}
                    <div class="card mt-4">
                        <div class="card-content">
                            <p class="title">
                                {{ course.name }}
                            </p>
                            <p class="subtitle">
                                {{ course.description }}
                            </p>
                            <div class="columns">
                                {% for col in course.units.all|to_columns:2 %}
                                    <div class="column">
                                        {% for unit in col %}
                                            <div class="mt-2">
                                                {% if unit in completed_units %}
                                                    <a href="{% url "unit" unit.id %}" class="button is-primary is-rounded is-fullwidth">{{ unit.name }}</a>
                                                {% elif unit == next_units|get_value:course.id %}
                                                    <a href="{% url "unit" unit.id %}" class="button is-info is-rounded is-fullwidth">{{ unit.name }}</a>
                                                {% else %}
                                                    <a href="{% url "unit" unit.id %}" class="button is-rounded is-fullwidth">{{ unit.name }}</a>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <footer class="card-footer">
                            <p class="card-footer-item">
                              <span>
                                Details
                              </span>
                            </p>
                            <p class="card-footer-item">
                              <span>
                                Resume
                              </span>
                            </p>
                        </footer>
                    </div>
                {% endfor %}
            </div>
        </div>


    </div>


{% endblock %}