{% extends 'sign_language_app/base.html'%}
{% load extras %}
{% block title %}
    Courses
{% endblock %}

{% block content %}
    <div class="container is-max-desktop">
        <h2 class="title is-2 is-spaced bd-anchor-title">
            Courses
        </h2>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content p-2">
                        <div class="buttons">
                            <button class="button is-outlined is-primary is-fullwidth filter-button">
                                <span class="icon is-small">
                                  <i class="fa-solid fa-play"></i>
                                </span>
                                <span>Continue</span>
                            </button>

                            <button class="button is-outlined is-primary is-fullwidth filter-button">
                                <span class="icon is-small">
                                  <i class="fa-solid fa-bookmark"></i>
                                </span>
                                <span>Saved</span>
                            </button>

                            <button class="button is-outlined is-primary is-fullwidth filter-button">
                                <span class="icon is-small">
                                  <i class="fa-solid fa-share-nodes"></i>
                                </span>
                                <span>Shared with me</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card mt-5">
                    <div class="card-content p-2">
                        <div class="buttons text-left">
                            <button class="button is-outlined is-primary is-fullwidth filter-button">
                                <span class="icon is-small">
                                  <i class="fa-solid fa-filter"></i>
                                </span>
                                <span>Beginner</span>
                            </button>

                            <button class="button is-outlined is-primary is-fullwidth filter-button">
                                <span class="icon is-small">
                                  <i class="fa-solid fa-filter"></i>
                                </span>
                                <span>Intermediate</span>
                            </button>

                            <button class="button is-outlined is-primary is-fullwidth filter-button">
                                <span class="icon is-small">
                                  <i class="fa-solid fa-filter"></i>
                                </span>
                                <span>Advanced</span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="column is-four-fifths">
                <form action="{% url 'courses_overview' %}" method="get">
{#                    {% csrf_token %}#}
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <label for="searchInput"></label>
                            {{ search_form.search_input }}
                        </div>
                        <div class="control">
                            <button class="button is-info">Search</button>
                        </div>
                    </div>
                </form>

                <br>

                <nav class="pagination is-rounded is-centered" role="navigation" aria-label="pagination">
                    <ul class="pagination-list">
                        {% if courses.has_previous %}
                            <li><a class="pagination-link button is-info is-small" href="?{% if search_form.search_input.value %}search_input={{ search_form.search_input.value }}{% endif %}{% if filters%}&filters={{ filters }}{% endif %}&page={{ courses.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li><span class="pagination-link button is-info is-small">&laquo;</span></li>
                        {% endif%}

                        {% for i in courses_paginator %}
                            {% if courses.number == i %}
                                <li><a class="pagination-link is-current" href="?{% if search_form.search_input.value %}search_input={{ search_form.search_input.value }}{% endif %}{% if filters%}&filters={{ filters }}{% endif %}&page={{ i }}">{{ i }} </a>
                                    {% else %}
                                    {% if i == courses.paginator.ELLIPSIS %}
                                        ...
                                    {% else %}
                                        <li><a class="pagination-link" href="?{% if search_form.search_input.value %}search_input={{ search_form.search_input.value }}{% endif %}{% if filters%}&filters={{ filters }}{% endif %}&page={{ i }}">{{ i }} </a>  </li>
                                    {% endif %}
                            {% endif %}
                        {% endfor %}

                        {% if courses.has_next %}
                            <li> <a class="pagination-link button is-info is-small" href="?{% if search_form.search_input.value %}search_input={{ search_form.search_input.value }}{% endif %}{% if filters%}&filters={{ filters }}{% endif %}&page={{ courses.next_page_number }}">&raquo;</a> </li>
                        {% else %}
                            <li><span class="pagination-link button is-info is-small">&raquo;</span></li>
                        {% endif%}
                    </ul>
                </nav>

                {% for course in courses %}
                    <div class="card mt-4">
                        <div class="card-content">
                            <p class="title">
                                {{ course.name }}
                            </p>
                            <p class="subtitle">
                                {{ course.description }}
                            </p>
                            <div class="columns">
                                {% for col in course.units.all|to_columns:2 %}
                                    <div class="column">
                                        {% for unit in col %}
                                            <div class="mt-2">
                                                {% if unit in completed_units %}
                                                    <a href="{% url "unit" unit.id %}" class="button is-primary is-rounded is-fullwidth">{{ unit.name }}</a>
                                                {% elif unit == next_units|get_value:course.id %}
                                                    <a href="{% url "unit" unit.id %}" class="button is-info is-rounded is-fullwidth">{{ unit.name }}</a>
                                                {% else %}
                                                    <a href="{% url "unit" unit.id %}" class="button is-rounded is-fullwidth">{{ unit.name }}</a>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <footer class="card-footer">
                            <p class="card-footer-item">
                              <span>
                                Details
                              </span>
                            </p>
                            <p class="card-footer-item">
                              <span>
                                Resume
                              </span>
                            </p>
                        </footer>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}

{% block javascript %}
    <script type="module">
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);

        const filter_param = urlParams.get('filters')
        let active_filters = []
        if (filter_param)
            active_filters = filter_param.split(',')
        const filter_buttons = document.getElementsByClassName('filter-button')
        for (const button of filter_buttons){
            let button_string = button.innerText.toLowerCase()
            button.addEventListener("click", function(){
                filter_courses(with_filter_prefix(button_string))
            });

            for (const filter_string of active_filters){
                if (filter_string.includes(button_string))
                    button.classList.remove('is-outlined')
            }
        }

        function filter_courses(filter){
            add_filter(filter)
            window.location.assign(`?{% if search_form.search_input.value %}search_input={{ search_form.search_input.value }}{% endif %}&filters=${encodeURIComponent(active_filters)}`)
        }

        function with_filter_prefix(filter){
            if (filter === 'beginner' || filter === 'intermediate' || filter === 'advanced'){
                return 'difficulty_' + filter
            }
            return filter
        }

        function are_filters_exclusive(filter1, filter2){
            let prefix1 = filter1.split('_').at(0)
            let prefix2 = filter2.split('_').at(0)
            return prefix1 === prefix2
        }

        function add_filter(filter){
            let new_filters = []
            let can_add_filter = true
            for (const existing_filter of active_filters){
                if (filter === existing_filter) {
                    can_add_filter = false
                } else if (are_filters_exclusive(filter, existing_filter)){

                } else {
                    new_filters.push(existing_filter)
                }
            }
            if (can_add_filter)
                new_filters.push(filter)
            active_filters = new_filters
        }





    </script>
{% endblock %}