<!DOCTYPE html>
<html lang="en">
{% extends 'sign_language_app/base.html'%}
{% load extras %}
{% block title %}
    Summary {{ unit.name }}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="title">Exercise Summary</h1>
        <h2 class="subtitle">{{ unit.name }}</h2>
        <div class="card {% if score >= 50 %} summary-card-success {% else %} summary-card-failure {% endif %}">
            <div class="card-content">
                <div class="content">
                    <p class="title">
                        {% if this_attempt.passed %}You passed!{% else %}You have failed.{% endif %}
                    </p>
                    <p class="subtitle">
                        You finished this unit with a score of {{ this_attempt.score }}%. You can try again to get a better score or proceed to the next unit.
                    </p>
                </div>
            </div>
            <footer class="card-footer">
                <a href="{% url 'unit' unit.id %}" class="card-footer-item"><span class="icon is-small mr-1"><i class="fa-solid fa-repeat"></i></span><span>Try Again</span></a>
                {% with next_unit=unit.next_unit %}
                    {% if next_unit %}
                        <a href="{% url 'unit' next_unit.id %}" class="card-footer-item"><span>{{ next_unit.name }}</span><span class="icon is-small"><i class="fa-solid fa-angle-right"></i></span></a>
                    {% else %}
                        <a href="{% url 'courses_overview' %}" class="card-footer-item">Browse courses</a>
                    {% endif %}
                {% endwith %}
            </footer>
        </div>
        <br>
        <h3 class="title is-3">Gestures</h3>
        {% for gesture, attempts in attempts_per_gesture.items %}
            <div class="box">
                <p class="subtitle"> {{ gesture.word }}</p>
                <div class="columns">
                    <div class="column video_preview_solution">
                        <p>Solution</p>
                        <video preload="auto" onclick="this.play()" style="height: 200px" class="mirrored" >
                            <source src='{{ MEDIA_URL }}/{{ gesture.reference_video }}' type="video/mp4">
                        </video>
                    </div>
                    {% for gesture_attempt in attempts %}
                        {% with video_url=gesture_attempt.get_last_video_url %}
                            <div class="column {% if gesture_attempt.success %}video_preview_correct{% else %}video_preview_incorrect{% endif %}">
                                <p>{% if gesture_attempt.success %}Correct{% else %}Incorrect{% endif %}</p>
                                <video preload="auto" onclick="this.play()" style="height: 200px">
                                    <source src='{{ MEDIA_URL }}/{{ video_url }}' type="video/mp4">
                                </video>
                            </div>
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
</html>