{% extends 'sign_language_app/base.html'%}
{% load static %}

{% block title %}
    Exercise {{ unit.name }}
{% endblock %}

{% block content %}
    <div class="container is-max-desktop mt-5">
        <div class="level">
            <a href="{% url 'courses_overview' %}" class="delete is-large" id="cancelUnitButton"></a>
            <progress id="unitProgressBar" class="progress is-success ml-5 mb-0 mr-5 is-large" value="0" max="100"></progress>
            <div class="icon-text">
                  <span class="icon has-text-danger" id="livesArea">
                  </span>
            </div>
        </div>

        <br>
        <br>

        <h1 id="gestureLabel" class="title is-1 has-text-centered ml11">
            <span class="text-wrapper">
            <span class="line line1"></span>
            <span class="letters"></span>
          </span>
        </h1>

        <div class="level">
            <div class="level-item has-text-centered" id="hintsSection" style="height: 64px;">

            </div>
        </div>

        <div class="level camera-box" id="cameraAreaBox">
            <div class="level-item has-text-centered mt-6" id="cameraLoader">
                <div class="loader-1"></div>
            </div>
            <video class="input_video" hidden></video>
            <canvas class="output_canvas camera-canvas" width="1280px" height="720px" style="width:100%;border-radius:6px"></canvas>
            <video class="mirrored" preload="auto" id="solutionVideo" hidden style="height: 0;">
                <source src="" type="video/mp4"></source>
            </video>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script defer
            data-gestures="{{ gestures }}"
    >
        const data = document.currentScript.dataset;
        const gestures = JSON.parse(data.gestures);
        const videoElement = document.getElementsByClassName('input_video')[0];
        const canvasElement = document.getElementsByClassName('output_canvas')[0];
        const solutionVideo = document.getElementById('solutionVideo');

        const cameraAreaBox = document.getElementById('cameraAreaBox');
        const cameraLoader = document.getElementById('cameraLoader');
        const unitProgressBar = document.getElementById('unitProgressBar')
        const gestureLabel = document.getElementById('gestureLabel')
        const cancelUnitButton = document.getElementById('cancelUnitButton')
        const hintsSection = document.getElementById('hintsSection')
        const livesArea = document.getElementById('livesArea')
        const canvasCtx = canvasElement.getContext('2d');

        const recordingCutoffDelay = 1000 // Only end recording if no hands were recorded for 500 milliseconds.
        const minRecordingMilliseconds = 500 // Movements shorted than this were probably accidents and are ignored.
        const showLandmarks = "{{ show_landmarks }}" === 'True'
        console.log(showLandmarks)

        let gestureStart = null
        let gestureEnd = null

        let hand_frames = []
        let videoBlobs = [];
        let mediaRecorder;

        let missingHandsTime = null

        let cameraLoaded = false

        let current_gesture_i = 0
        let current_gesture = null
        let is_displaying_solution = false
        let lives_remaining = 3
        let gesture_attempts_remaining = 3


        let camera_frame_width = null
        let camera_frame_height = null
        let current_mouth_position = null

        unitProgressBar.max = gestures.length

        let exerciseData = {
            gestures: {
            }
        }
        for (const gesture of gestures){
            exerciseData.gestures[gesture.id] = []
        }

        resetRecording()
        drawHearts()
        loadCamera()


        function saveGestureAttempt(gesture_id, status){
            exerciseData.gestures[gesture_id].push(status)
        }


        function loadGesture() {
            if (current_gesture_i >= gestures.length)
                return
            current_gesture = gestures[current_gesture_i]
            gesture_attempts_remaining = 3
            clearHinds()
            animateGestureTitle()
            updateProgressBar()
        }

        function clearHinds(){
            hintsSection.innerHTML = ''
        }

        function showHints(){
            clearHinds()
            for (const location_id of current_gesture.locations ){
                let image_path = '{% static 'sign_language_app/images/gesture_locations/1.png' %}'.replace('1.png', `${location_id}.png`)
                let location_figure = `
                <figure class="image is-64x64 ml-2 mr-2 hint-image">
                    <img src=${image_path} class="is-rounded" alt="Body location">
                </figure>`
                $('#hintsSection').append(location_figure)
            }
        }

        function updateProgressBar(){
            unitProgressBar.value = current_gesture_i
        }

        function showGestureResult(correct) {
            saveGestureAttempt(gestures[current_gesture_i].id, correct)
            if (correct){
                $(cameraAreaBox).addClass('feedback-pulse-correct')
                current_gesture_i += 1
                solutionEnded()
            } else {
                $(cameraAreaBox).addClass('feedback-pulse-incorrect')
                gesture_attempts_remaining -= 1
                if (gesture_attempts_remaining <= 0){
                    lives_remaining -= 1
                    current_gesture_i += 1
                    showSolution()
                } else if (gesture_attempts_remaining === 1){
                    showHints()
                }
            }
        }
        $(cameraAreaBox).on('animationend', function(){
            $(cameraAreaBox).removeClass('feedback-pulse-correct');
            $(cameraAreaBox).removeClass('feedback-pulse-incorrect');
        });
        solutionVideo.addEventListener('ended', function(){
            solutionEnded()
        }, false);


        function endUnit(){
            {#let csrf_token = '{{ csrf_token }}';#}
            const csrf_token = getCookie('csrftoken')
            console.log(exerciseData)
            $.ajax({
                url: '{% url "save_unit_attempt" unit.id %}',
                data: JSON.stringify(exerciseData),
                headers: {'X-CSRFToken': csrf_token},
                contentType: "application/json",
                dataType: "json",
                processData: false,
                type: 'POST',
                success: function(data) {
                    window.location.href = data.redirect_url
                },
                error: function(err) { console.log(err); },
                beforeSend: function (xhr) {
                },
            });
        }

        function veryfiUserInput(data){
            {#let csrf_token = '{{ csrf_token }}';#}
            const csrf_token = getCookie('csrftoken')
            $.ajax({
                url: '{% url "check_user_input" %}',
                data: JSON.stringify(data),
                headers: {'X-CSRFToken': csrf_token},
                contentType: "application/json",
                dataType: "json",
                processData: false,
                type: 'POST',
                success: function(data) {
                    if (data.correct){
                        showGestureResult(true)
                    } else {
                        showGestureResult(false)
                    }
                },
                error: function(err) { console.log(err); },
                beforeSend: function (xhr) {
                },
            });
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function animateGestureTitle(){
            let textWrapper = document.querySelector('.ml11 .letters');
            textWrapper.textContent = current_gesture.word
            textWrapper.innerHTML = textWrapper.textContent.replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>");
            anime.timeline({loop: false})
                .add({
                    targets: '.ml11 .line',
                    scaleY: [0,1],
                    opacity: [0.5,1],
                    easing: "easeOutExpo",
                    duration: 700
                })
                .add({
                    targets: '.ml11 .line',
                    translateX: [0, document.querySelector('.ml11 .letters').getBoundingClientRect().width + 10],
                    easing: "easeOutExpo",
                    duration: 700,
                    delay: 100
                }).add({
                targets: '.ml11 .letter',
                opacity: [0,1],
                easing: "easeOutExpo",
                duration: 600,
                offset: '-=775',
                delay: (el, i) => 34 * (i+1)
            }).add({
                targets: '.line',
                opacity: 0,
                duration: 1000,
                easing: "easeOutExpo",
                delay: 0
            });
        }

        function beginRecording() {
            gestureStart = performance.now()
            if ('True' !== "{{ user_settings.allow_video_uploads }}"){
                return
            }
            const stream = canvasElement.captureStream(30);
            mediaRecorder = new MediaRecorder(stream, {mimeType: 'video/webm;codecs=vp8'});
            videoBlobs = []
            mediaRecorder.addEventListener('dataavailable', function(e) {
                if (e.data.size > 0) {
                    videoBlobs.push(e.data);
                }
            });
            mediaRecorder.start(100);
        }

        function resetRecording(){
            gestureStart = null
            gestureEnd = null
            missingHandsTime = null
            hand_frames = []
            videoBlobs = []
            if (mediaRecorder)
                mediaRecorder.stop();
        }

        function endRecording() {
            if (performance.now() - gestureStart < recordingCutoffDelay + minRecordingMilliseconds){
                resetRecording()
                return
            }
            gestureEnd = performance.now()
            let data = {
                hand_frames: hand_frames,
                gesture: current_gesture,
                frame_width: camera_frame_width,
                frame_height: camera_frame_height,
            };
            veryfiUserInput(data)
            setTimeout(() => {
                uploadGestureVideo()
                resetRecording()
            }, 0)
        }

        function uploadGestureVideo(){
            if ('True' !== "{{ user_settings.allow_video_uploads }}"){
                return
            }
            const blob = new Blob(videoBlobs, {
                type: "video/webm"
            });
            var form = new FormData();
            form.append('video', blob);
            form.append('gesture_id', current_gesture.id);
            form.append('unit_id', {{ unit.id }});
            form.append('attempt', 3 - gesture_attempts_remaining + 1);
            const csrf_token = getCookie('csrftoken')
            $.ajax({
                type: 'POST',
                url: '{% url "upload_gesture_video" %}',
                data: form,
                headers: {'X-CSRFToken': csrf_token},
                processData: false,
                contentType: false,
                success: function(data) {
                    console.log(data)
                },
                error: function(err) { console.log(err); },
                beforeSend: function (xhr) {
                },
            });
        }

        const zip = (a, b) => a.map((k, i) => [k, b[i]]);

        function flip_handedness(string){
            if (string === "Left")
                return "Right"
            return "Left"
        }

        function startExercise(){
            $(cameraLoader).remove()
            loadGesture()
        }

        function updateCanvas() {
            if (is_displaying_solution){
                canvasCtx.scale(-1, 1);
                canvasCtx.translate(-canvasElement.width, 0);
                canvasCtx.drawImage(solutionVideo, 0, 0, canvasElement.width, canvasElement.height);
                canvasCtx.setTransform(1, 0, 0, 1, 0, 0);
                requestAnimationFrame(updateCanvas);
            }
        }

        function showSolution(){
            setTimeout(function (){
                solutionVideo.src = '{{ MEDIA_URL }}' + current_gesture.reference_video
                is_displaying_solution = true
                solutionVideo.play()
                requestAnimationFrame(updateCanvas);
            }, 1000)
        }

        function solutionEnded(e){
            is_displaying_solution = false
            if (lives_remaining <= 0 || current_gesture_i >= gestures.length) {
                endUnit()
                return
            }
            loadGesture()
            drawHearts()
        }

        function drawHearts(){
            livesArea.innerHTML = ''
            for(let i = 1; i <= 3; i++) {
                let heart_icon = null
                if (i <= lives_remaining) {
                    heart_icon = `<i class="fas fa-heart is-medium ml-1"></i>`
                } else {
                    heart_icon = `<i class="far fa-heart is-medium ml-1"></i>`
                }
                livesArea.innerHTML += heart_icon
            }
        }

        function onResults(results) {
            canvasCtx.save();
            if (!camera_frame_width){
                camera_frame_width = canvasElement.width
                camera_frame_height = canvasElement.height
            }
            canvasCtx.clearRect(0, 0, canvasElement.width, canvasElement.height);
            canvasCtx.translate(canvasElement.width, 0);
            canvasCtx.scale(-1, 1);
            canvasCtx.drawImage(results.image, 0, 0, canvasElement.width, canvasElement.height);
            let found_left_hand = null
            let found_right_hand = null
            if (results.multiHandLandmarks) {
                if (results.multiHandLandmarks.length > 0) {
                    missingHandsTime =  null
                    if (gestureStart == null)
                        beginRecording()
                    const zipped_landmarks = zip(results.multiHandLandmarks, results.multiHandedness);
                    for (const landmarks_handed of zipped_landmarks) {
                        let landmarks = landmarks_handed[0]
                        let handedness = landmarks_handed[1].label
                        handedness = flip_handedness(handedness)
                        {#console.log(landmarks[0].x)#}
                        if (handedness === 'Left'){
                            found_left_hand = landmarks
                        } else if (handedness === "Right"){
                            found_right_hand = landmarks
                        }
                        if (showLandmarks){
                            let color;
                            if (handedness === "Right")
                                color = '#518dce'
                            else
                                color = '#00FF00'
                            drawConnectors(canvasCtx, landmarks, HAND_CONNECTIONS,
                                {color: color, lineWidth: 5});
                            drawLandmarks(canvasCtx, landmarks, {color: '#FF0000', lineWidth: 2});
                        }
                    }
                    hand_frames.push([found_left_hand, found_right_hand, current_mouth_position])
                } else {
                    // No hands detected.
                    if (gestureStart != null) {
                        if (missingHandsTime == null)
                            missingHandsTime = performance.now()
                        if (performance.now() - missingHandsTime >= recordingCutoffDelay)
                            endRecording()
                    }
                }
            }
            canvasCtx.restore();
        }

        function onFaceResults(results){
            let face = results.detections[0]
            if (face){
                current_mouth_position = results.detections[0].landmarks[3]
                {#console.log(current_mouth_position)#}
                {#console.log(current_mouth_position)#}
            } else {
            }
        }

        function loadCamera(){
            const handsDetection = new Hands({locateFile: (file) => {
                    return `https://cdn.jsdelivr.net/npm/@mediapipe/hands/${file}`;
                }});

            const faceDetection = new FaceDetection({locateFile: (file) => {
                    return `https://cdn.jsdelivr.net/npm/@mediapipe/face_detection/${file}`;
                }});

            console.log(faceDetection)


            faceDetection.setOptions({
                model: 'short',
                minDetectionConfidence: 0.3
            });
            faceDetection.onResults(function (results) {
                onFaceResults(results)
            });

            handsDetection.setOptions({
                maxNumHands: 2,
                modelComplexity: 1,
                minDetectionConfidence: 0.7,
                minTrackingConfidence: 0.8
            });
            handsDetection.onResults(function (results) {
                if (!is_displaying_solution)
                    onResults(results)
            });


            const camera = new Camera(videoElement, {
                onFrame: async () => {
                    await faceDetection.send({image: videoElement});
                    await handsDetection.send({image: videoElement});
                    if (!cameraLoaded){
                        cameraLoaded = true
                        startExercise()
                    }
                },
                width: 1280,
                height: 720
            });
            camera.start()
        }

    </script>
{% endblock %}