<!DOCTYPE html>
<html lang="en">
{% extends 'sign_language_app/base.html'%}
{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container" style="padding-top: 2em">
        <article class="panel is-info">
            <p class="panel-heading">Video Recording Demo</p>
            <div class="panel-block columns">
                <div class="column">
                    <video class="input_video" hidden></video>
                    <canvas class="output_canvas" width="1280px" height="720px"></canvas>
                </div>
            </div>
        </article>
    </div>
{% endblock %}
</html>


{% block javascript %}
    <script type="module">
        const videoElement = document.getElementsByClassName('input_video')[0];
        const canvasElement = document.getElementsByClassName('output_canvas')[0];
        const canvasCtx = canvasElement.getContext('2d');
        const recordingCutoffDelay = 1000
        const minRecordingSize = 1000
        let mediaRecorder;


        let gestureStart = null
        let gestureEnd = null
        let videoBlobs = [];

        let left_landmarks = {}
        let right_landmarks = {}
        for(let landmark_id = 1; landmark_id <= 21; landmark_id++){
            left_landmarks[landmark_id] = []
            right_landmarks[landmark_id] = []
        }

        var missingHandsTime = null

        function beginRecording() {
            console.log("Beginning gesture recording...")
            gestureStart = performance.now()
            const stream = canvasElement.captureStream(60);
            mediaRecorder = new MediaRecorder(stream, {mimeType: 'video/webm;codecs=vp8'});
            videoBlobs = []
            mediaRecorder.addEventListener('dataavailable', function(e) {
                if (e.data.size > 0) {
                    videoBlobs.push(e.data);
                }
            });
            mediaRecorder.start(200);
        }

        function record() {
            // Record additional such as coordinates.
        }

        function resetRecording(){
            gestureStart = null
            gestureEnd = null
            missingHandsTime = null
            videoBlobs = []
            mediaRecorder.stop();
        }

        function endRecording() {
            // TODO: Only end recording if no hands were detected for multiple frames.
            if (performance.now() - gestureStart < recordingCutoffDelay + minRecordingSize){
                console.log("This recording was to short. This was probably an accident.")
                resetRecording()
                return
            }
            gestureEnd = performance.now()

            console.log("Ended gesture recording")
            let csrf_token = '{{ csrf_token }}';

            var data = {
                left_landmarks: left_landmarks,
                right_landmarks: right_landmarks
            };

            $.ajax({
                url: 'http://localhost:8000/api/test',
                data: JSON.stringify(data),
                headers: {'X-CSRFToken': csrf_token},
                contentType: "application/json",
                dataType: "json",
                processData: false,
                type: 'POST',
                success: function(data) {
                    //var obj = JSON.parse(data);
                    console.log(data);
                },
                error: function(err) { console.log(err); },
                beforeSend: function (xhr) {
                },
            });

            setTimeout(() => {
                const blob = new Blob(videoBlobs, {
                    type: "video/mp4"
                });
                const url = URL.createObjectURL(blob);
                const a = document.createElement("a");
                a.href = url;
                a.download = "recording.webm";
                a.click();
                URL.revokeObjectURL(url);
                resetRecording()
            }, 0);


        }

        const zip = (a, b) => a.map((k, i) => [k, b[i]]);

        function flip_handedness(string){
            if (string === "Left")
                return "Right"
            return "Left"
        }

        function onResults(results) {
            canvasCtx.save();
            canvasCtx.clearRect(0, 0, canvasElement.width, canvasElement.height);
            canvasCtx.translate(canvasElement.width, 0);
            canvasCtx.scale(-1, 1);
            canvasCtx.drawImage(results.image, 0, 0, canvasElement.width, canvasElement.height);
            if (results.multiHandLandmarks) {
                if (results.multiHandLandmarks.length > 0) {
                    missingHandsTime =  null
                    if (gestureStart == null)
                        beginRecording()
                    const zipped_landmarks = zip(results.multiHandLandmarks, results.multiHandedness);
                    for (const landmarks_handed of zipped_landmarks) {
                        {#console.log(landmarks_handed)#}
                        let landmarks = landmarks_handed[0]
                        let handedness = flip_handedness(landmarks_handed[1].label)
                        for(let landmark_id = 1; landmark_id <= landmarks.length; landmark_id++){
                            if (handedness === 'Left'){
                                left_landmarks[landmark_id].push(landmarks[landmark_id])
                                right_landmarks[landmark_id].push(null)
                            } else if (handedness === "Right"){
                                right_landmarks[landmark_id].push(landmarks[landmark_id])
                                left_landmarks[landmark_id].push(null)
                            }
                        }
                        let color = '#00FF00';
                        if (handedness === "Right")
                            color = '#518dce';
                        drawConnectors(canvasCtx, landmarks, HAND_CONNECTIONS,
                            {color: color, lineWidth: 5});
                        drawLandmarks(canvasCtx, landmarks, {color: '#FF0000', lineWidth: 2});
                    }
                } else {
                    // No hands detected.
                    if (gestureStart != null) {
                        if (missingHandsTime == null)
                            missingHandsTime = performance.now()
                        if (performance.now() - missingHandsTime >= recordingCutoffDelay)
                            endRecording()
                    }
                }

            }
            canvasCtx.restore();
        }

        const hands = new Hands({locateFile: (file) => {
                return `https://cdn.jsdelivr.net/npm/@mediapipe/hands/${file}`;
            }});
        hands.setOptions({
            maxNumHands: 2,
            modelComplexity: 1,
            minDetectionConfidence: 0.8,
            minTrackingConfidence: 0.8
        });
        hands.onResults(onResults);

        const camera = new Camera(videoElement, {
            onFrame: async () => {
                await hands.send({image: videoElement});
            },
            on
            width: 1280,
            height: 720
        });
        camera.start();
    </script>
{% endblock %}