{% extends 'sign_language_app/base.html'%}
{% load extras %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="columns">
            <aside class="menu column is-one-fifth">
                <p class="menu-label">
                    General
                </p>
                <ul class="menu-list">
                    <li><a href="{% url 'profile' %}" class="{% if current_section == 'overview' %} is-active {% endif %}">
                        <span class="icon-text">
                          <span class="icon">
                            <i class="fa-solid fa-user"></i>
                          </span>
                          <span>Profile</span>
                        </span>
                    </a></li>
                    <li><a href="{% url 'profile_settings' %}" class="{% if current_section == 'settings' %} is-active {% endif %}">
                        <span class="icon-text">
                          <span class="icon">
                            <i class="fa-solid fa-gear"></i>
                          </span>
                          <span>Privacy Settings</span>
                        </span>
                    </a></li>
                    <li><a href="{% url 'history' %}" class="{% if current_section == 'history' %} is-active {% endif %}">
                        <span class="icon-text">
                          <span class="icon">
                            <i class="fa-solid fa-chart-line"></i>
                          </span>
                          <span>History</span>
                        </span>
                    </a></li>
                </ul>
                <p class="menu-label">
                    Classroom
                </p>
                {% if user|check_teacher_or_admin %}
                    <ul class="menu-list">
                        <li>
                            <a class="">Manage</a>
                            <ul>
                                <li><a href="{% url 'manage_courses' %}" class="{% if current_section == 'manage_courses' %} is-active {% endif %}">
                                    <span class="icon-text">
                                      <span class="icon">
                                        <i class="fa-solid fa-book"></i>
                                      </span>
                                      <span>Courses</span>
                                    </span>
                                </a></li>
                                <li><a href="{% url 'manage_students' %}" class="{% if current_section == 'manage_students' %} is-active {% endif %}">
                                    <span class="icon-text">
                                      <span class="icon">
                                        <i class="fas fa-people-group"></i>
                                      </span>
                                      <span>Students</span>
                                    </span>
                                </a></li>
                                <li><a href="{% url 'manage_gestures' %}" class="{% if current_section == 'manage_gestures' %} is-active {% endif %}">
                                    <span class="icon-text">
                                      <span class="icon">
                                        <i class="fa-solid fa-hands"></i>
                                      </span>
                                      <span>Gestures</span>
                                    </span>
                                </a></li>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <ul class="menu-list">
                        <li><a href="{% url 'manage_teachers' %}" class="{% if current_section == 'manage_teachers' %} is-active {% endif %}">
                            <span class="icon-text">
                              <span class="icon">
                                <i class="fa-solid fa-person-chalkboard"></i>
                              </span>
                              <span>Teachers</span>
                            </span>
                        </a></li>
                    </ul>
                {% endif %}
            </aside>
            <div class="column ml-6">
                {% block profile_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
