{% extends 'sign_language_app/base.html'%}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="hero">
        <div class="hero-body">
            <div class="is-justify-content-center is-align-items-center">
                <div class="container has-text-centered">
                    <div class="box">
                        <div class="column is-8 is-offset-2">
                            <h3 class="title">Login</h3>
                            <p class="subtitle">Please login to continue practicing!</p>
                        </div>
                        <hr>
                        <div class="p-5">
                            <img src="{% static 'sign_language_app/images/logo_big.png'%}" style="height:300px">
                        </div>
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="field">
                                <div class="control">
                                    {{ form.username }}
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    {{ form.password }}
                                </div>
                            </div>
                            <button class="button is-info is-medium is-fullwidth">Login</button>
                            {% if form.errors %}
                                <div class="has-text-centered">
                                    <hr class="">
                                    <p>
                                    <span class="icon has-text-danger">
                                      <i class="fas fa-ban"></i>
                                    </span> Your username and password didn't match. Please try again.</p>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                    <p>
                        <a href="{% url 'register' %}">Sign Up</a> &nbsp;·&nbsp;  <a href="{% url 'password_reset' %}">Forgot Password</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}