{% extends 'sign_language_app/base.html'%}
{% load static %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <div class="hero">
        <div class="hero-body">
            <div class="is-justify-content-center is-align-items-center">
                <div class="container has-text-centered">
                    <div class="box">
                        <div class="column is-8 is-offset-2">
                            <h3 class="title">Sign Up</h3>
                            <p class="subtitle">Welcome! Please make an account.</p>
                        </div>
                        <hr>
                        <div class="p-5">
                            <img src="{% static 'sign_language_app/images/logo_big.png'%}" style="height:300px">
                        </div>
                        <form method="post" action="{% url 'register' %}">
                            {% csrf_token %}
                            <div class="field">
                                <div class="control">
                                    {{ form.username }}
                                </div>
                                {% for error in form.username.errors %}
                                    <p class="help is-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="field">
                                <div class="control">
                                    {{ form.email }}
                                </div>
                                {% for error in form.email.errors %}
                                    <p class="help is-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="field">
                                <div class="control">
                                    {{ form.password1 }}
                                </div>
                                {% for error in form.password1.errors %}
                                    <p class="help is-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="field">
                                <div class="control">
                                    {{ form.password2 }}
                                </div>
                                {% for error in form.password2.errors %}
                                    <p class="help is-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <button class="button is-info is-medium is-fullwidth">Sign Up</button>
                            {% if form.non_field_errors %}
                                <div class="has-text-centered">
                                    <hr class="">
                                    {% for error in form.non_field_errors %}
                                        <p>
                                        <span class="icon has-text-danger">
                                          <i class="fas fa-ban"></i>
                                        </span> {{ error }}
                                        </p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </form>
                    </div>
                    <p>
                        <a href="{% url 'login' %}">Log In</a> &nbsp;·&nbsp;  <a href="{% url 'password_reset' %}">Forgot Password</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}