{% extends 'sign_language_app/profile/profile_base.html' %}
{% load extras %}

{% block title %}
    Manage Gestures
{% endblock %}

{% block profile_content %}
    {% include 'sign_language_app/snippets/create_gesture_popup.html' with redirect_url='manage_gestures' %}

    <div class="container">
        <h2 class="title">
            Manage Gestures
        </h2>

        <div class="buttons">
            <button class="button is-link js-modal-trigger" data-target="gesture-modal">Add Gesture</button>
        </div>

        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th><abbr title="Gesture">Gesture</abbr></th>
                {#                <th><abbr title="Status">Creator</abbr></th>#}
                <th><abbr title="Status">Status</abbr></th>
                <th style="width:30%"></th>
            </tr>
            </thead>
            <tbody>
            {% for gesture in gestures %}
                <tr>
                    <td>{{ gesture.word }}</td>
                    {#                    <th>{% if gesture.creator %}{{ gesture.creator }}{% endif %}</th>#}
                    <td>{{ gesture.get_status_display }}</td>
                    <td>
                        <div class="buttons">
                            <button class="button is-info is-small">Placeholder</button>
                            <a href="{% url 'delete_gesture' gesture.id %}" class="button is-danger is-small">Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascript %}

{% endblock %}
