{% extends 'sign_language_app/profile/profile_base.html' %}
{% load static %}
{% load extras %}
{% block title %}
    Unit Attempt of {{ student.username }} for {{ unit_attempt.unit.name }}
{% endblock %}

{% block profile_content %}
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'manage_students' %}">
                    <span class="icon is-small">
                        <i class="fa-solid fa-people-group"></i>
                    </span>
                    <span>Students</span>
                </a></li>
                <li><a href="{% url 'student_details' student.id %}">
                    <span class="icon is-small">
                        <i class="fa-solid fa-user-large"></i>
                    </span>
                    <span>{{ student.username }}</span>
                </a></li>
                <li class="is-active"><a href="#" aria-current="page">{{ unit_attempt.unit.name }}</a></li>
            </ul>
        </nav>
        <div class="block">
            <h2 class="title">
                Unit Attempt for {{ unit_attempt.unit.name }} by {{ student.username }}
            </h2>
            <p>
            </p>
        </div>
        <div id="summaryCard" class="block card {% if unit_attempt.score >= 50 %} summary-card-success {% else %} summary-card-failure {% endif %}">
            <div class="card-content">
                <div class="content">
                    <p class="title">
                        {% if unit_attempt.passed %}Student has passed.{% else %}Student has failed.{% endif %}
                    </p>
                    <p class="subtitle">
                        Student achieved a score of <span id="scoreElement">{{ unit_attempt.score }}</span>%.
                    </p>
                </div>
            </div>
        </div>
        <div class="block">
            {% for gesture, attempts in attempts_per_gesture.items %}
                <h4 class="title is-4">{{ gesture.word }}</h4>
                <div class="columns">
                    <div class="column is-one-quarter">
                        <div class="card has-background-info" style="height: 100%">
                            <div class="card-content pt-1 pb-5 pl-0 pr-0">
                                <p class="card-header-title">
                                    Solution
                                </p>
                                <video class="mirrored is-fullwidth" preload="auto" onclick="this.play()">
                                    <source src='{{ MEDIA_URL }}/{{ gesture.reference_video }}' type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>
                    {% if student_settings.allow_sharing_with_teachers %}
                        {% for gesture_attempt in attempts %}
                            {% with video_url=gesture_attempt.attempts_video_url %}
                                <div class="column is-one-quarter">
                                    <div id="gestureAttemptsCard_{{ gesture_attempt.id }}" class="card {% if gesture_attempt.success %}has-background-primary{% else %}has-background-danger{% endif %}">
                                        <p class="card-header-title">
                                            {% if gesture_attempt.success %}Correct{% else %}Wrong{% endif %}
                                        </p>
                                        <div class="card-content pt-1 pb-5 pl-0 pr-0" >
                                            <div class="content">
                                                {% if student_settings.allow_video_uploads %}
                                                    <video preload="auto" onclick="this.play()">
                                                        <source src='{{ MEDIA_URL }}/{{ video_url }}' type="video/mp4">
                                                    </video>
                                                {% else %}
                                                    <img src="{% static 'sign_language_app/images/no_video_placeholder.svg' %}" alt="Placeholder Image">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <footer class="card-footer" style="border-top: 1px transparent">
                                            <button onclick="overruleAttempts({{ gesture_attempt.id }}, true)" class="card-footer-item has-background-primary-dark" style="border-right: 1px transparent">
                                            <span class="icon is-small">
                                              <i class="fa-solid fa-check"></i>
                                            </span>
                                            </button>
                                            <button onclick="overruleAttempts({{ gesture_attempt.id }}, false)" class="card-footer-item has-background-danger-dark" style="border-right: 1px transparent">
                                            <span class="icon is-small">
                                              <i class="fa-solid fa-xmark"></i>
                                            </span>
                                            </button>
                                            <button class="card-footer-item has-background-info">
                                            <span class="icon is-small">
                                              <i class="fa-solid fa-robot"></i>
                                            </span>
                                            </button>

                                        </footer>
                                    </div>
                                </div>
                            {% endwith %}
                        {% endfor %}

                    {% endif %}
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        let csrf_token = '{{ csrf_token }}';
        function overruleAttempts(gestureAttemptId, newValue){
            let card = document.querySelector("#gestureAttemptsCard_"+gestureAttemptId)
            let summaryCard = document.querySelector("#summaryCard")
            let title = card.querySelector('.card-header-title')
            if (newValue){
                card.classList.remove('has-background-danger')
                card.classList.add('has-background-primary')
                title.innerHTML = "Correct"
            } else {
                card.classList.remove('has-background-primary')
                card.classList.add('has-background-danger')
                title.innerHTML = "Wrong"
            }
            $.ajax({
                url: "{% url 'overrule_gesture_attempt' student.id unit_attempt.id 1234 %}".replace('1234', gestureAttemptId),
                type: "POST",
                headers: {'X-CSRFToken': csrf_token},
                contentType: "json",
                data: JSON.stringify({ 'correct': newValue }),
                success: function (data) {
                    console.log(data)
                    let newScore = data.newScore
                    summaryCard.querySelector('#scoreElement').innerHTML = newScore
                    if (newScore >= 50){
                        console.log("passed")
                        summaryCard.classList.remove('summary-card-failure')
                        summaryCard.classList.add('summary-card-success')
                        summaryCard.querySelector('.title').innerHTML = "Student has passed."
                    } else {
                        console.log("failed")
                        summaryCard.classList.remove('summary-card-success')
                        summaryCard.classList.add('summary-card-failure')
                        summaryCard.querySelector('.title').innerHTML = "Student has failed."
                    }
                },
                error: function (error) {
                    console.log("error: ", error)
                }
            });
        }
    </script>
{% endblock %}