{% extends 'sign_language_app/profile/profile_base.html' %}
{% load humanize %}
{% load extras %}
{% block title %}
    Student Details: {{ student.username }}
{% endblock %}

{% block profile_content %}
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'manage_students' %}">
                    <span class="icon is-small">
                        <i class="fa-solid fa-people-group"></i>
                    </span>
                    <span>Students</span>
                </a></li>
                <li class="is-active"><a href="#" aria-current="page">
                    <span class="icon is-small">
                        <i class="fa-solid fa-user-large"></i>
                    </span>
                    <span>{{ student.username }}</span>
                </a></li>
            </ul>
        </nav>

        <div class="block">
            <h2 class="title">
                Manage {{ student.username }}
            </h2>
            <p>
                View this student's recent activity and overrule the system's decisions.
            </p>
        </div>
        <div class="block">

        </div>

        <div class="block">
            <h4 class="title is-4">
                Activity
            </h4>
            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <th><abbr title="Course">Course</abbr></th>
                    <th><abbr title="Unit">Unit</abbr></th>
                    <th class="has-text-centered"><abbr title="Score">Score</abbr></th>
                    <th><abbr title="Date">Date</abbr></th>
                    <th style="width: 100px"></th>
                </tr>
                </thead>
                <tbody>
                {% for unit_attempt in student.unit_attempts.all|dictsortreversed:"datetime" %}
                    <tr>
                        <td>{{ unit_attempt.unit.course.name }}</td>
                        <td>{{ unit_attempt.unit.name }}</td>
                        <td class="has-text-right has-text-{% if unit_attempt.passed %}primary{% else %}danger{% endif %}">
                            <span>{{ unit_attempt.score }}%</span>
                            <span class="icon">
                                <i class="fa-solid fa-face-{% if unit_attempt.passed %}smile{% else %}frown{% endif %}"></i>
                            </span>
                            <span class="icon">
                                {% if unit_attempt.is_overruled %}
                                    <i class="fa-solid fa-clipboard-check"></i>
                                {% endif %}
                            </span>
                        </td>
                        <td>{{ unit_attempt.datetime|naturalday }}</td>
                        <td>
                            <div class="buttons">
                                {% with uploads_enabled=student_settings.allow_video_uploads shared=student_settings.allow_sharing_with_teachers %}
                                    <a href="{% if uploads_enabled and shared %} {% url "student_details_unit_attempts_view" student.id unit_attempt.id %} {% else %} # {% endif %}"
                                       class="button is-info is-small" {% if not uploads_enabled or not shared %} disabled {% endif %}>
                                    <span class="icon is-small">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </span>
                                    </a>
                                {% endwith %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}